section {
    display: flex;
    flex-wrap: wrap;        
}

article {
    border: 1px solid red;
    box-sizing: border-box;
    padding: 20px;
    width: 50%;
}

article h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

article img {
    margin-bottom: 20px;
    width: 100%;
}

article a.verder-lezen {
    display: block;
    margin-top: 40px;
}  